/* CUSTOM-PROPS */
:root {
  --black: #000;
  --blue: #3858d6;
  --title-color: #1e1d1d;
  --gray: #f6f6f6;
  --txt-color: #8b8e99;
  --white: #fff;
}

/* FONT-FACE  */

/* LOADER  */
.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: opacity 0.3s ease;
}

.loader-wrapper--none {
  opacity: 0;
  pointer-events: none;
}

.loader {
  width: 4.8rem;
  height: 4.8rem;
  border: 0.5rem dotted var(--black);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* GLOBAL-STYLES  */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--white);
  color: #222;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.25;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}


/* FOCUS-STYLES  */
*:focus {
  outline: 0.3rem dashed var(--black);
  outline-offset: 0.3rem;
}

/* CONTAINER  */
.container {
  max-width: 114rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN  */
.visually-hidden {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* SITENAV  */
/* SITENAV-LIST  */
.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 2.7rem;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--txt-color);
  line-height: normal;
  white-space: nowrap;
}

.sitenav__link:hover {
  opacity: 0.8;
}

.sitenav__link:active {
  opacity: 0.6;
}

/* MAIN-CONTENT  */
.main-content {
  flex-grow: 1;
}


/* SITE-HEADER  */
.site-header-hero-wrapper {
  background-image: linear-gradient(155.28deg, #383638 2.06%, #0B0B0B 33.08%);
}

.site-header-hero-wrapper *:focus {
  outline-color: var(--white);
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}


/* SITE-LOGO  */
.logo {
  display: flex;
  flex-shrink: 0;
}

.logo__img {
  display: block;
  width: 7.8rem;
  height: 2.7rem;
  object-fit: cover;
  object-position: center;
}

.site-header__right {
  display: flex;
  align-items: center;
}

.header-right__item:not(:last-child) {
  margin-right: 1.5rem;
}

.header-right__item > img {
  display: block;
  width: 22px;
  height: 23px;
  object-fit: cover;
  object-position: center;
}

.header-right__item.shopping-cart {
  position: relative;
}

.shopping-cart__badge {
  position: absolute;
  right: 0;
  top: -8%;
  font-size: 1rem;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.3rem;
  height: 1.3rem;
  background-color: var(--blue);
  border-radius: 0.7rem;
  color: var(--white);
}